In [2]:
import pandas as pd
melb_df = pd.read_csv('data/melb_data_fe.csv')
display(melb_df)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,3,46,5,St,1
1,Abbotsford,2,house,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,4,116,5,St,1
2,Abbotsford,3,house,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,144.99440,Northern Metropolitan,4019,18.750000,0.056338,4,117,0,St,0
3,Abbotsford,3,house,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,144.99690,Northern Metropolitan,4019,15.750000,0.145455,4,47,0,other,0
4,Abbotsford,4,house,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,144.99410,Northern Metropolitan,4019,17.750000,0.083969,4,2,2,St,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,other,4,house,1245000.0,S,Barry,2017-08-26,16.7,3150,4,...,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,8,36,5,Cr,1
13576,Williamstown,3,house,1031000.0,SP,Williams,2017-08-26,6.8,3016,3,...,144.87904,Western Metropolitan,6380,16.625000,-0.429185,8,22,5,Dr,1
13577,Williamstown,3,house,1170000.0,S,Raine,2017-08-26,6.8,3016,3,...,144.88738,Western Metropolitan,6380,15.750000,-0.551601,8,20,5,St,1
13578,Williamstown,4,house,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,4,...,144.89299,Western Metropolitan,6380,17.444444,-0.693060,8,97,5,St,1
13579,Yarraville,4,house,1285000.0,SP,Village,2017-08-26,6.3,3013,4,...,144.88449,Western Metropolitan,6543,12.444444,-0.527426,8,97,5,St,1

In [27]:
import pandas as pd
melb_df = pd.read_csv('data/melb_data_fe.csv')

exclude_list = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
        
#melb_df.info()

mask = melb_df['Rooms'] > 2
mask1= melb_df['Type'] == 'townhouse'
melb_df[mask & mask1].sort_values(by = ['Rooms', 'MeanRoomsSquare'], ascending = [True, False], ignore_index = True).loc[18]

Suburb                     Brighton East
Rooms                                  3
Type                           townhouse
Price                          1300000.0
Method                                PI
SellerG                           Buxton
Date                          2016-09-17
Distance                            10.7
Postcode                            3187
Bedroom                                3
Bathroom                               2
Car                                    2
Landsize                           337.0
BuildingArea                       222.0
CouncilArea                      Bayside
Lattitude                       -37.9196
Longtitude                      145.0205
Regionname         Southern Metropolitan
Propertycount                       6938
MeanRoomsSquare                    27.75
AreaRatio                      -0.205725
MonthSale                              9
AgeBuilding                           16
WeekdaySale                            5
StreetType                            St
Weekend                                1
Name: 18, dtype: object

In [7]:
import pandas as pd
melb_df = pd.read_csv('data/melb_data_fe.csv')

pivot = melb_df.pivot_table(values = 'Price', index = 'SellerG', columns = 'Type', aggfunc = 'median')
display(pivot)

Type               house  townhouse      unit
SellerG
Alexkarbon     1036250.0   935000.0  560000.0
Barry           830000.0   727500.0  502000.0
Bells           692500.0   430500.0  457500.0
Biggin         1151750.0   675000.0  548000.0
Brad            875000.0   700000.0  465000.0
Buckingham      830000.0   820000.0  553000.0
Burnham         922500.0        NaN  305000.0
Buxton         1323750.0  1030000.0  670000.0
C21             836500.0   768750.0  625500.0
Cayzer         1505000.0  1450000.0  707500.0
Chisholm       1520000.0   950000.0  640000.0
Collins        1566500.0   930000.0  592000.0
Douglas         684000.0   500000.0  494500.0
Eview           760000.0   597500.0  602000.0
Fletchers      1390000.0  1238000.0  653000.0
Gary           1370000.0   993500.0  550000.0
Greg           1330000.0   900000.0  547500.0
HAR             695000.0        NaN  518000.0
Harcourts       740000.0   653750.0  500000.0
Hodges         1500000.0  1105000.0  605500.0
Jas             935000.0   699000.0  455000.0
Jellis         1505000.0  1052000.0  591750.0
Kay            2220000.0  1365000.0  695000.0
LITTLE          970000.0   800000.0  447000.0
Love            780000.0   846000.0  440000.0
Marshall       1975000.0  1408500.0  715000.0
McDonald       1242500.0        NaN  502500.0
McGrath        1250000.0   810000.0  542500.0
Miles          1090000.0   721500.0  555000.0
Moonee          806000.0   715000.0  622000.0
Nelson         1055000.0   730000.0  530000.0
Nick           2025000.0   780000.0  900000.0
Noel           1400500.0   990000.0  693250.0
O'Brien         737504.0   430000.0  618500.0
Philip         1035000.0   701000.0  636000.0
Purplebricks    810000.0   927500.0  582500.0
RT             1640000.0  1400000.0  630000.0
RW              870000.0   630500.0  625500.0
Raine           745000.0   608000.0  447500.0
Ray             900000.0   650000.0  497500.0
Rendina        1190000.0   750000.0  459000.0
Stockdale       715500.0   550000.0  410000.0
Sweeney         850000.0   728000.0  381000.0
Thomson        1177000.0   500000.0  495000.0
Village         973500.0   727500.0  420000.0
Williams       1161000.0   735000.0  577000.0
Woodards       1261000.0   865500.0  600000.0
YPA             596250.0   498500.0  443500.0
hockingstuart  1055000.0   935000.0  566000.0
other           901000.0   840500.0  535000.0